/* base */
body{
  font-family: 'Noto Sans JP', sans-serif;
}

a {
  text-decoration: none; 
}

footer {
  background-color: black;
  color: #fff;
  text-align: center;
  padding-bottom: 8px;
}

/* ********** */
/* HOME */
/* ********** */
#home {
  /* outline: 1px solid red; */
  background-image: url('../image/top_background_op71.png');
  background-size: cover;
  min-height: 100vh;
}

/* header */
h1 {
  padding: 32px;
}

h1:hover {
  opacity: 0.8;
}

.h1img {
  /* outline: 1px solid red; */
  width: 210px;
  height: 41.25px;
  cursor: pointer;
}

.header-container{
  /* outline: 1px solid red; */
  display: flex;
  justify-content: space-between;
}

.nav-ul {
  /* outline: 1px solid red; */
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-size: 24px;
  padding: 32px;
}

.nav-li {
  /* outline: 1px solid red; */
  padding: 0 16px;
  display: inline-block;
  cursor: pointer;
}

.nav-li a {
  text-decoration: none;
  color: black;
}

.nav-li a:hover {
  color: #00c2b8;
}

/* //header */

/* main */
#home .main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main-copy {
  /* outline: 1px solid red; */
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  font-size: 72px;
  padding: 72px 0 0;
}

.main-content {
  /* outline: 1px solid red; */
  padding: 8px 0 32px;
  text-align: center;
}

.goto-menu-btn {
  color: #fff;
  letter-spacing: 0.2rem;
  text-align: center;
  font-weight: bold;
  background-color: #00c2b8;
  padding: 16px 32px;
  border-radius: 8px;
  margin-top: 24px;
  cursor: pointer;
}

.goto-menu-btn:hover {
  opacity: 0.8;
  }

/* //main */
/* //#home */

/* ********** */
/* news */
/* ********** */

/* header */
#news header{
  /* outline: 1px solid red; */
  background-image: url('../image/news_background_op71.png');
  background-size: cover;
}

#news h2 {
  padding-bottom: 72px;
}

/* article*/
#news article {
  padding: 64px 64px 32px;
  width: 100%;
}

#news article:last-child{
  padding-bottom: 128px;
}

.column-wrapper {
  display: flex;
  justify-content: space-between;
}

.blog {
  max-width: 66%;
}

.blog-title-wrapper {
  display: flex;
  padding-bottom: 16px;
  min-width: 300px;
}

.date {
  background-color: #00c2b8;
  padding: 10px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  color: #fff;
}

.day {
  border-bottom: 1px dotted #fff;
  padding-bottom: 3px;
}

.year {
  font-size: x-small;
  padding-top: 3px;
}

.h3-category {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 10px;
}

.h3-category p {
  font-size: small;
}

.eyecatch {
 width: 688px;
}

.content {
  width: 688px;
  padding-top: 16px;
}

/* aside */
#news aside {
  padding: 64px 32px;
  max-width: 240px;
}

.sidebar-ul li {
  list-style: none;
}

.category {
  color: black;
}

.category:hover {
  color: #00c2b8;
}

.sidebar-wrapper {
  padding-bottom: 32px;
}

.sidebar-wrapper h4 {
  border-bottom: 3px solid #00c2b8;
  margin-bottom: 8px;
}


/* ********** */
/* menu */
/* ********** */

/* header */
#menu header{
  background-image: url('../image/menu_background_op65.png');
  background-size: cover;
  padding-bottom: 160px;
}

.header-content{
  text-align: center;
}

/* main */
.tile-wrapper {
  padding: 64px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 320px);
  grid-auto-rows: 320px;
  gap: 1px 16px;
  justify-content: center;
}

.menu-img {
  width: 320px;
}

.menu-name {
  text-align: center;
}

/* ********** */
/* Contact */
/* ********** */

/* header */
#contact header{
  /* outline: 1px solid red; */
  background-image: url('../image/contact_background.png');
  background-size: cover;
}

#contact h2 {
  padding-bottom: 72px;
}

/* section */
.contact-section{
  padding: 64px;
}

.access-wrapper {
  display: flex;
  justify-content: center;
}

.vertical {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.access-title {
  border-bottom: 3px solid #00c2b8;
  margin-bottom: 8px;
  min-width: 236px;
}

.access-content {
  list-style: none;
}

.access-content > li {
  padding-top: 0.5rem;
}

.map {
  padding-left: 64px;
}

/* form */
.contact-title {
  border-bottom: 3px solid #00c2b8;
  margin-bottom: 8px;
  min-width: 236px;
}

label,
input,
textarea {
  display: block;
}

input,
textarea {
  display: block;
  border: 1px solid rgba(0, 194, 184, 0.2);
  border-radius: 4px;
  background-color: rgba(0, 194, 184, 0.2);
  /* min-width: ; */
  min-width: 236px;
}

textarea {
  height: 120px
}

button {
  color: #fff;
  letter-spacing: 0.2rem;
  text-align: center;
  font-weight: bold;
  background-color: #00c2b8;
  padding: 8px 16px;
  border-radius: 8px;
  margin-top: 24px;
  cursor: pointer;
}

/*************  */
/* レスポンシブ */
/* *********** */

@media (max-width:600px) {
  .header-container {
    flex-direction: column;
    justify-content:flex-start;
  }

  .nav-ul{
    padding: 0 4px;
    justify-content: left;
  }

  .nav-li {
    padding: 0 8px;
  }

  #nav-li-news {
    padding-left: 16px;
  }

  h1 {
    padding: 16px 16px 0;
  }

  #news article {
    padding-left: 32px;
    width: 100%;
  }
  
  #news article:last-child{
    padding-bottom: 64px;
  }
  .column-wrapper {
    flex-direction: column;
    max-width: 100%;
  }

  #news aside {
    max-width: 100%;
  }

  .sidebar-wrapper {
    padding-bottom: 64px;
  }

  .eyecatch {
    width: 100%;
  }

  .eyecatch > img {
    min-width: 300px;
    max-width: 100%;
    height: auto;
  }

  .content {
    min-width: 300px;
    max-width: 100%;
  }

  .access-wrapper {
    flex-direction: column-reverse;
  }

  .map {
    width: 100%;
    padding: 0;
  }

  iframe {
    width: 100%;
    min-width: 300px;
    height: auto;
    min-height: 300px;
  }

  .contact-section{
    padding: 32px;
    width: 100%;
  }

  .access-box {
    padding-top: 16px;
  }



}